[Desktop Entry]
Version=1.0
Name=Gastrocoin 
Comment=Gastrocoin P2P Cryptocurrency
Comment[fr]=Gastrocoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Gastrocoin, eşten eşe kriptografik sanal para birimi
Exec=gtc-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/gtc;
Categories=Office;Finance;
StartupWMClass=gtc-qt
