[Desktop Entry]
Version=1.0
Name=Gastrocoin
Comment= GTC P2P Cryptocurrency
Comment[fr]= GTC, monnaie virtuelle cryptographique pair à pair
Comment[tr]= GTC, eşten eşe kriptografik sanal para birimi
Exec=gtc-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
StartupWMClass=Gastrocoin-qt
